// Add your settings here
.roska{
	font-family: 'ROSKA';
}
.din{
	  font-family: 'HelveticaNeueW02-55Roma,Helvetica,sans-serif';
}
.gp-light{
	  font-family: 'GalaxiePolaris-Light';
}
.gp-bold{
	  font-family: 'GalaxiePolaris-Bold';
}
.gp-heavy{
	  font-family: 'GalaxiePolaris-Heavy';
}

$HV :"HelveticaNeue-Bold";

@font-face {
    font-family: 'HelveticaNeueLTStd-BdCn';
    src: url('https://github.com/markbreneman/HTML5-Class/blob/master/Week13/Fonts/HelveticaNeue/HelveticaNeueLTStd-BdCn.otf');

}
